@media (max-width: 650px) {
  .nav-menu {
    display: none;
    transform: 0.9s;
  }
  .mediaQuery-navbar {
    display: inline;
  }
  .project-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
  }
}
@media (min-width: 650px) {
  .mediaQuery-navbar {
    display: none;
  }
}
