/* header/nav-bars */
.navbar a:hover {
  color: black;
  border-radius: 5px;
  background-color: whitesmoke;
}
.welcome-section-heading {
  transition-duration: 0.3s;
}
.welcome-section-introduction {
  transition-duration: 2s;
  animation-name: and;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes and {
  0% {
    border-bottom: 2px solid gray;
    width: 75%;
  }
  25% {
    border-bottom: 2px solid wheat;
    width: 80%;
  }
  50% {
    border-bottom: 2px solid white;
    width: 90%;
  }
  75% {
    border-bottom: 2px solid wheat;
    width: 80%;
  }
  100% {
    border-bottom: 2px solid gray;
    width: 75%;
  }
}

/* projects */

.project-tile {
  transition-duration: 1s;
}
.project-tile:hover .project-info {
  transition-duration: 0.5s;
  transform: scale(1.2);
}

/* about */
.about-content {
  transition-duration: 1s;
}
/* contact */
